<div class="container-fluid  PrincipalHome ">
  <app-top-bar></app-top-bar>

  <div class="container">
    <div class="row g-3 pt-5 ">

      <div *ngFor="let elem of favorites" class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <div class="card border-0  rounded">
          <div class="card-body">
            <div  class="row  heartFavTrue pokemonCard_heart d-flex flex-row-reverse pb-1">
              <img src="../../../assets/heart-filled.svg">
            </div>
            <div [routerLink]="['/detail',elem.id]" class="row">
              <div class=" pokemonCardCharacter col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <img [src]="elem.sprites.other?.dream_world?.front_default" class="img-fluid">
              </div>
              <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <div class="card-body">
                  <h5 class="card-title">{{elem.id}}</h5>
                  <p class="card-text">{{elem.name}}</p>
                  <span *ngFor="let type of elem.types" class="typeGrey d-inline-block">{{type.type.name}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
