<div class="container-fluid">

  <app-top-bar></app-top-bar>

  <div class="container">

    <div class=" row nav">
      <div class="col col-sm-5 col-md-7 col-lg-7 col-xl-9 col-xxl-9 ">
        <h3 class="nav_h3">Pokemones</h3>
      </div>
      <div class="col-12 col-sm-7 col-md-5 col-lg-5 col-xl-3 col-xxl-3 d-flex flex-row-reverse nav_form">
        <button class="btn backgroundButton text-light" type="submit">Buscar</button>
          <input class="form-control" type="text" name="Search" placeholder="Buscar Pokemon">
      </div>
    </div>


    <div class="row mt-4">
     <app-card></app-card>
    </div>
  </div>
